@model MvcClientes.Models.Cliente

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        ViewData["Title"] = "Adicionando cliente";
    }
</head>
<body>
    <div class="container">
        <header>
            <h2>@ViewData["Title"]</h2>        
        </header>
        <main>
            <form asp-action="Criar"> 
                
                <partial name="_Crud"/>
                
                @* <div class="form-group">
                    <button type="submit">Salvar</button>
                    <button asp-action="Index">Cancelar</button>
                    <button type="reset">Limpar informações</button>
                </div>
                                
                @section Scripts
                {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }  *@

            </form>
        </main>    
    </div>
</body>
</html>