@model MvcClientes.Models.Cliente;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        ViewData["Title"] = "Editando cliente";
    }
</head>
<body>
    <header>
        <h2>@ViewData["Title"]</h2>
    </header>
    <main>
        <form asp-action="Editar">
            
            @await Html.PartialAsync("_Crud")

            <div class="form-group">
                <button type="submit">Salvar</button>
                <button asp-action="Index">Cancelar</button>
            </div>

            @section Scripts
            {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
        </form>
    </main>
</body>
</html>