@Model IEnumerable<MvcClientes.Models.CLientes>

@{
    ViewData["Titke"] = "Lista de clientes";
}    

<h1>Lista de clientes</h1>

</hr>

<tabel>
    <thead>

    </thead>
    <tbody>

    </tbody>
    <tfoot>
        
    </tfoot>
</tabel>